/* Styles for CareDash Project */

/* TABLE OF CONTENTS */
/*
-Header
-Sections
-Footer
*/

/*TESTING, DELETE WHEN DONE*/
header {
    background-color: red;
}

section .top-story {
    background-color:orange;
}

section .form {
    background-color:yellow;
}

section .banner_text {
    background-color:green;
}

section article:nth-child(1) {
    background-color:aqua;
}

section article:nth-child(2) {
    background-color:teal;
}

section article:nth-child(3) {
    background-color:blue;
}

footer .first_column {
    background-color:red;
}

footer .second_column {
    background-color:orange;
}

footer .third_column {
    background-color:yellow;
}

footer .copyright {
    background-color: pink;
}

/* Header */

header .logo {
    float:left;
}

header nav {
    clear: left;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

header nav .dropdown-menu {
    background-color:yellow;
}


/* Sections */

section .form, section article {
    padding-top: 20px;
    padding-bottom: 20px;
}

section .form p {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 30px;
}

section .form input {
    margin-bottom: 10px;
}

section .banner_text {
    text-align: center;
    padding: 20px 0;
}

section article img {
    display: block;
    margin: 0 auto;
}

section article h2 {
    text-align: center;
    margin-top: 15px;
}

/* Footer */
footer h3 {
    font-size: 1.2rem;
}

footer a:link {
    text-decoration: none;
}

footer .first_column ul, footer .second_column ul {
    list-style: none;
    padding: 0;
}

footer .third_column .fa {
    font-size: 1.5rem;
}

footer .third_column ul {
    list-style: none;
    padding: 0;
}

footer .third_column li {
    display: inline;
    margin-right: 20px;
}

footer .copyright {
    font-size: 0.8rem;
}


/* Media Queries */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }